<app-layout>
  <template>
    <h1 class="app-name">whot-app!</h1>
    <form class="px-3 pt-6 pb-8 mb-4">
      <div class="mb-4">
        <h4 class="text-white font-bold">
          Enter Game Pin
        </h4>
      </div>
      <game-pin ref="gamePin" @input="setPin"></game-pin>
      <div class="mb-4">
        <button :disabled="!pin" class="bg-pink-dark hover:bg-pink-base text-white font-bold py-2 h-10 mb-4 w-full" @click="joinGame" type="button">
          Play
        </button>
        <button class="bg-indigo-light hover:bg-pink-base text-white font-bold py-2 h-10 mb-4 w-full" @click="startGame" type="button">
          Start New Game
        </button>
      </div>
    </form>

    <p class="px-4 text-center text-white text-md font-bold">
      Create your own game <a class="cursor-pointer hover:text-pink-lighter">here</a><br/>
      and play anywhere, anytime, with your friends.
    </p>
  </template>
</app-layout>
