<div class="container">
  <div class="sign-in flex justify-center items-center text-center fixed">
    <div class="text-center">
      <h1 class="app-name">whot-app!</h1>
      <form class="px-4 pt-6 pb-8 mb-4">
        <div class="mb-4">
          <input class="shadow border w-full py-2 h-10 w-full text-grey-darker font-bold text-center" type="text" placeholder="Enter game pin!">
        </div>
        <div class="mb-4">
          <button class="bg-pink-dark hover:bg-pink-base text-white font-bold py-2 h-10 mb-4 w-full" type="button">
            Play
          </button>
        </div>
      </form>

      <p class="px-4 text-center text-white text-md font-bold">
        Create your own game <a class="cursor-pointer hover:text-pink-lighter">here</a><br/>
        and play anywhere, anytime, with your friends.
      </p>

      <div class="px-4 pt-8 text-indigo-base text-sm">
        <appFooter></appFooter>
      </div>
      
    </div>
  </div>
</div>